<style>
  main {padding: 10px;}
</style>
<div class="py1 bg-navy white fs-12p line-height-1 center">
  <img class="mr1 align-bottom" src="/vendor/uswds/img/us_flag_small.png" alt="U.S. flag" width="18" height="12">
  A DEMO website of the United States government
</div>
<main>
<h1>Apply for job</h1>
<% if session[:email] %>

    You are applying as <%= session[:email] %>
    <h2 style="color: #005ea2;">IRS form K-9 required <span id="green-check">✅</span></h2>
    <p>
        To apply for this job, you must upload IRS form K-9.<br>
        You can get it from the IRS with this button:</p>
    </p>

    <form action="http://localhost:9292/internal/" method="get">
    <input name="redirect" type="hidden" value="http://localhost:4567/internal/" />
    <input name="linktext" type="hidden" value="DogJobs.gov" />
    <button type="submit" class="usa-button" id="fetch">
        Go Fetch
    </button>
    </form>

    <p style="margin-top: 50px;">
        After you have form K-9, upload it here:<br>
        <input type="file" id="k9" name="k9">
    </p>
    <hr>

    <details class="details-popup display-inline-block float-right">
        <summary class="float-right">Prior experiments</summary>

        <h2>Experiment: fill form via JSON</h2>
        <p><%= session[:email] %> you may fill out this form:</p>
        <p>We are experimenting with ways to let our users gather information from <a href="http://localhost:9292">Agency B</a></p>
        <form>
            <fieldset>
                <legend>Fill out this form</legend>
                <label for="bird">Bird:</label><br>
                <input id="bird" name="bird" /><br><br>
                <label for="login">Logged in?</label><br>
                <input id="login" name="login"/><br><br>
                <a href="#" class="button" onclick="getData()">Fetch from Agency B</a>
                <br><br><a href="#" class="button inactive" id="download" onclick="doDownload()">Download ⇓</a>
            </fieldset>
        </form>
        Powered by <a href="http://localhost:9292/data">Agency B JSON</a>
    </details>

    <script>

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const downloaded = urlParams.get('downloaded')

        if (downloaded == "true") {
            document.getElementById("fetch").style.backgroundColor = "silver";
            document.getElementById("green-check").style.visibility = "visible";
        }


        function getData() {
            let birdField = document.getElementById("bird");
            let loginField = document.getElementById("login");
            fetch("http://localhost:9292/data")
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    let birdData = data;
                    let dlButton = document.getElementById("download");
                    birdField.value = birdData.bird;
                    loginField.value = birdData.login;
                    dlButton.classList.remove("inactive");
                })
        }

        function doDownload() {
            let link = document.createElement("a");
            let text = document.getElementById("bird").value;
            let file = new File([text], "bird.txt", {
                type: "text/plain",
            })
            let url = URL.createObjectURL(file);

            link.href = url;
            link.download = file.name;
            document.body.appendChild(link);
            link.click();

            document.body.removeChild(link);
            window.URL.revokeObjectURL(url);
        }

    </script>

<% else %>
    <p>You must log in to apply for this job</p>

    <form action="/login_get?aal=2&ial=1" method="GET" id="login-form">
        <button type="submit"  class="usa-button usa-button--outline sign-in-bttn" style="float: none;">
            <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
            <path fill="currentColor" d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"></path>
            </svg>
            Log in
        </button>
    </form>
<% end %>
</main>
