<h1>Agency A Internal</h1>

<% if session[:email] %>

    <script>

        function getData() {
            let birdField = document.getElementById("bird");
            fetch("http://localhost:9292/data")
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    let birdData = data;
                    let dlButton = document.getElementById("download");
                    birdField.value = birdData.bird;
                    dlButton.classList.remove("inactive");
                })
        }

        function doDownload() {
            let link = document.createElement("a");
            let text = document.getElementById("bird").value;
            let file = new File([text], "bird.txt", {
                type: "text/plain",
            })
            let url = URL.createObjectURL(file);

            link.href = url;
            link.download = file.name;
            document.body.appendChild(link);
            link.click();

            document.body.removeChild(link);
            window.URL.revokeObjectURL(url);
        }

    </script>

    <p><%= session[:email] %> you may fill out this form:</p>
    <p>We are experimenting with ways to let our users gather information from <a href="http://localhost:9292">Agency B</a></p>
    <form>
        <fieldset>
            <legend>Fill out this form</legend>
            <label for="bird">Bird:</label><br>
            <input id="bird" name="bird" />
            <a href="#" class="button" onclick="getData()">Fetch from Agency B</a>
            <br><br><a href="#" class="button inactive" id="download" onclick="doDownload()">Download ⇓</a>
        </fieldset>
    </form>
    Powered by <a href="http://localhost:9292/data">Agency B JSON</a>
<% else %>
    <p>You are not allowed on this page</p>
<% end %>
